<% if current_admin %> 
	<div class="admin_panel">
		<div class="container">
			<h1>Admin Panel</h1>
			<div class="team_members_list col-md-4">
				<h3>Komandos narių sąrašas</h3>
				<ul>
					<%= TeamMember.find_each do |t| %>
						<li><%= link_to t.name , team_member_path(t), class: "team_member" %></li>
					<% end %>
				</ul>
				<%= link_to 'Pridėti naują narį', new_team_member_path, method: "get", class: "admin_button" %>
			</div>
			<div class="col-md-4">
				<h3>Svetainės nustatymai</h3>
				<%= link_to "Pridėti nauja adminą", admin_signup_path, class: "admin_button" %>
			</div>
			<div class="personal col-md-4">
				<h3>Paskyra</h3>
				<img src="/assets/admin_logo.png" />
				<ul>
					<li><%= link_to "Redaguoti duomenis", edit_admin_path(session[:admin_id]), method: "get", class: "admin_button" %></li>
					<li><%= link_to "Atsijungti", admin_logout_path, method: "delete", class: "admin_button" %></li>
				</ul>
			</div>
		</div>
	</div>
<% else %>
	<div class="admin_panel">
		<%= form_for(:session, url: admin_path) do |f| %> 
			<%= f.text_field :username, placeholder: "Username" %> 
			<%= f.password_field :password, placeholder: "Password" %> 
			<%= f.submit "Prisijungti", class: "btn-submit", method: "post" %>
		<% end %>
	</div>
<% end %>