<% if current_admin %>
	<div class="admin_panel">
		<div class="container">
			<h1>Admin Panel</h1>
			<div class="team_members_list col-md-4">
				<h3>Team Members List</h3>
				<ul>
					<%= TeamMember.find_each do |t| %>
						<li><%= link_to t.name , team_member_path(t), class: "team_member" %></li>
					<% end %>
				</ul>
				<%= link_to 'Add New Member', new_team_member_path, method: "get", class: "admin_button" %>
			</div>
			<div class="col-md-4 website-settings">
				<h3>Svetainės nustatymai</h3>
				<%= link_to "Add New Admin", admin_signup_path, class: "admin_button" %>
				<%= link_to "Add New FAQ", new_duk_path, class: "admin_button" %>
			</div>
			<div class="personal col-md-4">
				<h3>Paskyra</h3>
				<% if current_admin.image != "" %>
					<%= image_tag(current_admin.image) %>
				<% else %>
					<img src="/assets/admin_logo.png" />
				<% end %>
				<ul>
					<li><%= link_to "Edit profile", edit_admin_path(session[:admin_id]), method: "get", class: "admin_button" %></li>
					<li><%= link_to "Log out", logout_path, method: "delete", class: "admin_button"%></li>
				</ul>
			</div>
		</div>
	</div>
<% else %>
	<div class="admin_panel">
		<%= form_for(:session, url: admin_login_path) do |f| %>
			<%= f.text_field :username, placeholder: "Username" %>
			<%= f.password_field :password, placeholder: "Password" %>
			<%= f.submit "Login", method: "post" %>
		<% end %>
	</div>
<% end %>
