<% if current_admin %>
	<div class="admin_panel">
		<div class="container">
			<p id="notice"><%= notice %></p>
			<%= image_tag(@team_member.image) %>
			<h3>
			  <%= @team_member.name %>
			</h3>
			<p>
			  <%= @team_member.job_title %>
			</p>
			<p>
			  <%= @team_member.phone %>
			</p>
			<p>
			  <%= @team_member.location %>
			</p>
			<p class="quote">
			  <%= @team_member.quote %>
			</p>
			<div class="buttons">
				<%= link_to 'Delete Member', team_members_path, action: "delete", class: "admin_button" %>
				<%= link_to 'Update Member', edit_team_member_path(@team_member), class: "admin_button" %>
				<%= link_to 'Back', admin_login_path, class: "admin_button" %>
			</div>
		</div>
	</div>
<% else %>
	<% require_admin %>
<% end %>
