<%= form_for(@duk) do |f| %>
  <% if @duk.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@duk.errors.count, "error") %> prohibited this duk from being saved:</h2>

      <ul>
      <% @duk.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :query %>
    <%= f.text_area(:query, size: "2x2")  %>
  </div>
  <div class="field">
    <%= f.label :answer %>
    <%= f.text_area(:answer, size: "5x5") %>
  </div>
  <div class="actions">
    <%= f.submit "Išsaugoti", class: "submit" %>
  </div>
<% end %>
