<% content_for :title, "LearnWords - Frequently Asked Questions" %>
<% content_for :meta, "Ask your own questions or see the answers for the most
common ones." %>
<section class="duk_page jumbotron">
	<div class="container">
		<h1>F.A.Q</h1>
		<div class="duks">
			<% @duks.each do |duk| %>
				<div class="duk center col-md-3 col-sm-8">
					<% if current_admin %>
						<%= link_to image_tag("delete_duk"), duk, method: :delete, class: "duk_buttons"%>
						<%= link_to image_tag("edit_duk"), edit_duk_path(duk), class: "duk_buttons" %>
					<% end %>
					<h3 class="query"><%= duk.query %></h3>
					<div class="answer">
						<h6 class="text-answer"><%= duk.answer %></h6>
						<% if duk.link != nil && duk.link != "" %>
							<a class="link" target="_blank" href="<%= duk.link %>">Link</a>
						<% end %>
					</div>
				</div>
			<% end %>
		</div>
	</div>
</section>
