<% content_for :title, "LearnWords - Benefits" %>
<% content_for :meta, "Learning new words is easy! Practice everyday. Check your
 progress. Save time when learning foreign language. The application is completely free." %>
<div class="benefits jumbotron">
	<div class="container">
		<div class="box col-md-2 col-md-offset-1">
			<div class="always-show" id="i1">
				<img src="/assets/fun-image.png">
				<h3>Learning New Words is Easy!</h3>
			</div>
			<p class="hidden-xs" id="di1">
				By using LearnWords Application, you will never ever need to learn new
				words by heart. Instead, you will be able to use your visual memory and
				words will just stick in your head.
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i2">
				<img src="/assets/revise-image.png">
				<h3>Learn New Words Every Day!</h3>
			</div>
			<p class="hidden-xs" id="di2">
				By using LearnWords Application, you will never ever need to learn new
				words by heart. Instead, you will be able to use your visual memory and
				words will just stick in your head.
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i3">
				<img src="/assets/statistics-image.png">
				<h3>Check Your Progress!</h3>
			</div>
			<p class="hidden-xs" id="di3">
				We are creating a new feature, which will save all lessons' results
				and let you check your progress in learning your new language.
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i4">
				<img src="/assets/time-image.png">
				<h3>Save Time!</h3>
			</div>
			<p class="hidden-xs" id="di4">
				By taking 10-15 minutes of your time everyday to learn words on our
				LearnWords Application, your will save a LOT of TIME. It's much easier
				process than just trying to learn new words by heart.
			</p>
		</div>
		<div class="box col-md-2">
			<div class="always-show" id="i5">
				<img src="/assets/money-image.png">
				<h3>LearnWords is Free!</h3>
			</div>
			<p class="hidden-xs" id="di5">
				You can use LearnWords Application completely free of charge, without
				annoying in-app purchases or ads.
			</p>
		</div>
	</div>
</div>
<div class="features">
	<div class="feature float_left">
			<%= image_tag("app_main") %>
			<h2>Simple and Easy-to-use Design!</h2>
	</div>
	<div class="feature float_right">
			<%= image_tag("app_answer") %>
			<h2>Quick and Extensive Answers!</h2>
	</div>
	<div class="feature float_left no-bottom-border">
			<%= image_tag("app_result") %>
			<h2>Some Statistics to Keep you Motivated!</h2>
	</div>
	<div class="feature float_right">
			<%= image_tag("app_add_dictionary") %>
			<h2>Add Your Own Dictionaries!</h2>
	</div>
	<div class="feature float_left no-bottom-border">
			<%= image_tag("app_add_word") %>
			<h2>Add New Words to Existing Dictionaries!</h2>
	</div>
</div>
