<div class="contact-content row">
	<div class="col-md-1 hidden-xs">
	</div>
	<div class="col-md-6 get_in_touch">
		<h1>Contact Us</h1>
		<p>
			We are friendly and easily approachable team.
			If you have any questions, don't be shy - ask, we are happy to help.
			Give us a call or email us. Contact us on Twitter or just use the form
			below.
		</p>
		<div class="contact_details">
			<div class="container">
				<div class="detail">
					<img src="/assets/phone.png"/><p>+447783008354</p>
				</div>
				<div class="detail">
					<img src="/assets/email.png"/><p>M.Serapinas@gmail.com</p>
				</div>
			</div>
		</div>
	</div>
	<div class="col-md-4 right">
		<%= form_tag(contact_path, class: 'response form-horizontal') do %>
			<h2 class="contact-title">Send Message</h2>
			<div class="form-group">
			  <label class="control-label col-sm-4" for="name">Name</label>
			  <div class="col-sm-8">
				<%= text_field_tag 'name', nil, placeholder: 'Name', class: 'form-control', autocomplete: 'on' %>
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-4" for="email">Email</label>
			  <div class="col-sm-8">
				<%= text_field_tag 'email', nil, placeholder: 'Email', class: 'form-control', autocomplete: 'on' %>
			  </div>
			</div>

			<div class="form-group">
			  <label class="control-label col-sm-4" for="comment">Message</label>
			  <div class="col-sm-8">
				<%= text_area_tag 'comment', nil, placeholder: 'Your comment', class: 'form-control', autocomplete: 'on', rows: '6' %>
			  </div>
			</div>
			<div class="button-holder">
				<%= submit_tag 'Send', class: 'submit' %>
			</div>
			<div class="hidden">
				<p>Thank you! We will contact you soon.</p>
			</div>
		<% end %>
	</div>
</div>
